.transaction-container h2 {
    color: #636161;
    font-size: 45px;
    margin-bottom: 20px;
}

.transaction-container p {
    color: #555;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
}

.card p {
    margin: 0;
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

strong {
    color: #434343;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.card ul li {
    margin-bottom: 10px;
    font-size: 20px;
    color: #555;
}

/** **/
.contact-info-title {
    font-weight: bold;
    text-align: center;
}

.button-menu-about {
    display: block;
    width: 200px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border: solid 1px;
    border-color: #fb931d;
    /* Remove underline */
}

.first-button {
    background-color: #fb931d;
    position: relative;
    z-index: 2;
    border: solid 1px;
    border-color: #fb931d;
}

.second-button {
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    color: black;
    border: solid 1px;
    border-color: #fb931d;
}

.contact-img {
    width: 100px;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.card-contact-us {
    border-radius: 20px !important;
    border: 0 !important;
    border-color: #8f8f8f !important;
    box-shadow: 1px 4px 6px 8px rgba(0, 0, 0, 0.1);
}

.card-about-us {
    width: 1000px;
    border-radius: 20px !important;
    border: 0 !important;
    border-color: #8f8f8f !important;
    box-shadow: 1px 4px 6px 8px rgba(0, 0, 0, 0.1);
}

/** **/
