.button-container {
    position: relative;
    display: inline-block;
    margin-right: 1600px;
}

.button {
    display: block;
    width: 200px;
    padding: 10px;
    border: none;
    text-align: center;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.first-button {
    background-color: #fb931d;
    position: relative;
    z-index: 2;
}

.second-button {
    background-color: aliceblue;
    position: relative;
    z-index: 1;
}

.content-container {
    margin-left: 400px;
}
