@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    margin: 0;
}
.main-container {
    margin: 20px;
}
.judul {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: 900;
}

.footer {
    font-family: 'Lato', sans-serif;
    background-color: #fb931e;
    color: white;
    padding: 20px;
}

.footer-section {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px; /* Sesuaikan margin sesuai kebutuhan */
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.social-icons {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-bottom {
    margin-top: 20px;
}

hr {
    border-top: 1px solid white; /* Sesuaikan warna sesuai kebutuhan */
}
