body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    margin: 0;
}

.content1 {
    background-color: #ffc481;
    color: #754b04;
    margin: 0;
    padding: 0;
}

/* .content1 h1{
    padding-top: 20px;
    padding: 20px;
    font-weight: 900;
    text-align: left;
} */

.left h1 {
    font-weight: 900;
    max-width: 460px;
    padding: 20px;
    text-align: left;
}

.left p {
    font-family: 'Lato', sans-serif;
    max-width: 360px;
    padding-top: 20px;
    padding: 20px;
    font-size: 24px;
    text-align: left;
}

.shop-now {
    margin-top: 30px;
    background-color: #08A771;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 54px;
    font-size: 1.25em;
    transition: background-color 0.3s ease;
}

.shop-now:hover {
    background-color: rgb(87, 202, 190);
}

.content2 {
    display: flex;
    background-color: #08A771;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: left;
}

.section1 {
    text-align: center;
    background-color: #08A771;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.section1 img {
    width: 300px;
    margin-bottom: 20px;
}

.section1 p {
    font-size: 1.6em;
    color: #fff;
}

.section1 p .brand {
    color: #ffbf00;
    font-weight: bold;
    text-align: justify;
}

.section-deskripsi {
    text-align: justify;
    background-color: #08A771;
    padding: 10pt;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
}

.section-deskripsi-img {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100px;
    margin-bottom: 20px;
}

.section-deskripsi p {
    font-size: 1.8em;
    color: #fff;
}

.section-deskripsi p .brand {
    color: #ffbf00;
    font-weight: bold;
    text-align: justify;
}

.banner {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.banner .left {
    max-width: 50%;
}

.banner .right img {
    max-width: 100%;
    border-radius: 10px;
}

.banner h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

.banner .shop-now {
    background-color: #00c6ae;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.banner .shop-now:hover {
    background-color: #009a8b;
}

.video-container {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;/
}

.youtube-video{
    width: 100%;
    height: 600px;
}

.content3{
    display: flex;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.pilihan_produk{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 8px;
    color: #636161;
    font-size: 25px;
    border: 2px solid grey;
    border-spacing: 10px;
    font-weight: 100;
    font-weight: 500;
    background-color: white;
}

.content4 {
    display: flex;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/** product page  */
.item {
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    width: 280px;
    max-width: 280px;
    height: 350px;
    max-height: 350px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(200, 200, 200, 1);
    box-shadow: 0px 0px 0px #f3f3f3;
    transition: all;
    -webkit-transition:  box-shadow .2s ease-out;
}

.item:hover{ 
    box-shadow: 1px 4px 10px grey;
    transition: all;
    -webkit-transition:  box-shadow .2s ease-in;
}

.price {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #636161;
}

.product-names {
    max-width: 300px;
    font-size: 23px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
/** product page  */

.menu-container {
    align-items: center;
    justify-content: center;
}
.profile-text-container {
    margin: 30px 30px 30px 30px;
}

.counter {
    display: flex;
    align-items: center;
}

/* .qty-input {
width: 50px;
text-align: center;
} */

.form-quantity {
    text-align: left;
    outline: none;
    border: solid 1px;
    border-color: #a0a0a0;
    width: 105px;
    max-width: 105px;
    padding: 7px 12px;
    font-size: 16px;
    border-radius: 10px;
}

.quantity-btn {
    background-color: #fb931e;
    color: white;
    border: none;
    padding: 7px 12px;
    font-size: 16px;
    border-radius: 10px;
}

.plus-btn,
.minus-btn {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ddd;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.plus-btn:hover,
.minus-btn:hover {
    background-color: #aaa;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.item-container {
    display: flex;
    justify-content: center;
    margin: 30px 30px 30px 30px;
    align-items: center;
}

.keranjang-btn {
    background-color: #fb931e;
    color: white;
    border: none;
    padding: 7px 12px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.keranjang-btn:hover {
    background-color: #ffa94d;
}

.navigator-product {
    background-color: #fb931e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 28px;
    border-radius: 5px;
    cursor: pointer;
}


.detail-btn {
    display: inline-block;
    background-color: #048D5E;/* Warna latar belakang tombol */
    color: white; /* Warna teks */
    padding: 7px 12px; /* Ruang di dalam tombol */
    text-align: center; /* Pusatkan teks */
    text-decoration: none; /* Menghilangkan underline */
    border-radius: 10px; /* Sudut melengkung */
    font-size: 16px; /* Ukuran teks */
}

/* Tambahan untuk hover efek */
.detail-btn:hover {
    background-color: #00c6ae; /* Warna latar belakang saat hover */
}


/* Style untuk popup keranjang */
.cart-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    z-index: 1000;
}

.cart-popup-content {
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.cart-popup-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    gap: 5%;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.cart-item img {
    margin-right: 15px;
    border-radius: 5px;
}

.cart-item h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.cart-item p {
    margin: 5px 0;
    color: #555;
}

.cart-item .remove-item,
.cart-item .edit-item {
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    margin-right: 10px;
}

.cart-item .remove-item:hover,
.cart-item .edit-item:hover {
    text-decoration: underline;
}

#cartTotal {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#checkoutBtn {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #fb931e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

#checkoutBtn:hover {
    background-color: #e0a800;
}

/* Tambahan styling untuk tombol View Cart di navbar */
#cartBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#cartBtn:hover {
    background-color: #0056b3;
}

.tombol{
    /* margin: 2px; */
    background-color: white;
    color: #fb931e;
    border: none;
    /* padding: 4px 8px; */
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/** halaman produk detail **/
.product-detail-container {
    display: flex;
    font-family: 'Lato', sans-serif;
    gap: 40px;
    padding: 20px;
}

.product-image  {
    justify-content: center;
    max-width: 85%;
    height: 85%;
}

.product-detail-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.product-info {
    max-width: 600px;
    padding: 20px;
    flex-grow: 1;
}

.product-info h1 {
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 700;
}

.product-info h2 {
    font-size: 30px;
    color: #626161;
    margin-bottom: 20px;
}
.product-info h3 {
    margin-bottom: 10px;
    font-weight: 700;
}

.product-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.deskripsi {
    color: #626161;
    margin-bottom: 20px
}
/** end halaman produk detail **/

/** halaman artikel */
.card-container {
    border: none;
    width: 450px;
    max-width: 450px;
    height: 485px;
    max-height: 485px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.card-article-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 100% 15%;
}

.card-article-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 100% 15%;
}

.card-article-title-container {
    width: 400px;
    max-width: 400px;
    height: 45px;
    max-height: 45px;
    margin: 14px;
}

.card-article-title {
    font-size: 1.25rem;
    font-weight: 600;
    overflow: hidden;
    width: 400px;
    max-width: 400px;
    height: 45px;
    max-height: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.card-article-title:hover {
    text-overflow: initial;
}

.card-article-body {
    max-height: 100px;
    height: 100px;
    margin: 14px;
}

.card-article-text {
    font-size: 1rem;
}

.card-article-footer {
    margin: 14px;
}

/** end halaman artikel **/