.navbar .nav-item {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .nav-item li {
    margin-left: 2rem;
}

.navbar .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s, background-color 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.navbar .nav-item a:hover {
    color: #fb931e;
    background-color: #f4f4f4;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #fb931e;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

/* Search Button Hover Effect */
.btn:hover {
    background-color: #fff;
    color: #fb931e;
}
